{block content}
<div class="row">

	<a n:href="listedWords" class="overview col-md-3 col-sm-6 col-xs-6">
		<div class="panel panel-back noti-box">
			<span class="icon-box bg-color-brown set-icon"><i class="fa fa-bars"></i></span>
			<div class="text-box" >
				<p class="main-text">Vyjmenovaná slova</p>
				<p class="text-muted"></p>
			</div>
		</div>
	</a>

</div>
